In [1]:
import pandas as pd
import numpy as np

In [2]:
df_sales = pd.read_csv("/Users/raphael/Desktop/Nuclio/TFM/eda-datasets/tfm-datasets/sales.csv")
df_sales.head()

   Unnamed: 0  pk_sale    cid  month_sale  product_ID  net_margin
0           0     6666  33620  2018-05-01        2335       952.9
1           1     6667  35063  2018-06-01        2335      1625.2
2           2     6668  37299  2018-02-01        2335      1279.7
3           3     6669  39997  2018-02-01        2335      1511.9
4           4     6670  44012  2018-02-01        2335      1680.3