In [1]:
import pandas as pd
import numpy as np

In [2]:
df_product = pd.read_csv("/Users/raphael/Desktop/Nuclio/TFM/eda-datasets/tfm-datasets/product_description.csv")
df_product.head()

   Unnamed: 0  pk_product_ID     product_desc family_product
0           0           4657        em_acount        account
1           1           3819       debit_card   payment_card
2           2           1364     pension_plan   pension_plan
3           3           2234          payroll        account
4           4           2235  payroll_account        account